# Use the Supabase Connection pool URL here
DATABASE_URL="postgres://postgres.[YOUR-SUPABASE-ID]:[YOUR-PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Secret applied for signing User JWTs
JWT_SECRET="supersafejwtkey"
